.playerImage2,
.playerImage2Icon {
  position: absolute;
  width: 1552px;
  height: 1035px;
}
.playerImage2Icon {
  top: 0;
  left: 216px;
  object-fit: cover;
}
.playerImage2 {
  top: -104px;
  left: -18px;
  background: radial-gradient(
    50% 50%at 50% 50%,
    #171717 64.61%,
    rgba(23, 23, 23, 0)
  );
}
.pageHeader {
  position: relative;
  line-height: 75px;
  display: inline-block;
  width: 789px;
  height: 57px;
  flex-shrink: 0;
}
.playRankGames {
  font-weight: 300;
}
.pageHeaderP {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  display: inline-block;
  width: 601px;
  height: 98px;
  flex-shrink: 0;
  font-family: Manrope;
}
.headline {
  width: 789px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 30px;
}
.joinText {
  position: relative;
  line-height: 20px;
}
.joinWaitlistButton {
  border-radius: 20px;
  background-color: #d7323c;
  width: 146px;
  height: 52px;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.h1Copy {
  position: absolute;
  top: 327px;
  left: 203px;
  width: 635px;
  height: 183px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.logoIcon {
  position: absolute;
  top: 111px;
  left: 191px;
  width: 171px;
  height: 115px;
  overflow: hidden;
  object-fit: cover;
}
.header,
.mdicalendarQuestion {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.header {
  background-color: #fff2f2;
  width: 1516px;
  height: 837px;
  text-align: left;
  color: #fffcfc;
}
.mdicalendarQuestion {
  width: 24px;
  height: 24px;
}
.sectionHeaderText {
  position: relative;
  line-height: 75px;
}
.sectionHeader {
  width: 1514px;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.headline1 {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  display: inline-block;
  height: 42px;
  flex-shrink: 0;
}
.mdiswordCrossIcon,
.paragram {
  position: relative;
  width: 385px;
  flex-shrink: 0;
}
.mdiswordCrossIcon {
  height: 93px;
  overflow: hidden;
}
.paragram {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  display: inline-block;
  height: 141px;
}
.problem1,
.problem1Header,
.problem2,
.problem3 {
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.problem1Header {
  height: 241px;
  gap: 50px;
}
.problem1,
.problem2,
.problem3 {
  height: 270px;
}
.problem2,
.problem3 {
  height: 316px;
}
.problem3 {
  height: 345px;
}
.details,
.problemSection,
.sectionHeader1 {
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
}
.details {
  width: 1506px;
  height: 569px;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  font-size: 40px;
}
.problemSection,
.sectionHeader1 {
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
}
.problemSection {
  background-color: #d9d9d9;
  width: 1512px;
  height: 800px;
  padding: 220px 201px;
}
.sectionHeader1 {
  width: 1514px;
  height: 226px;
  padding: 10px;
  font-size: 64px;
}
.paragraph2 {
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  display: inline-block;
  width: 385px;
  height: 179px;
  flex-shrink: 0;
}
.header1,
.solutionSection {
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.header1 {
  height: 241px;
  gap: 20px;
}
.solutionSection {
  height: 193px;
}
.wireframeIcon,
.wireframes {
  height: 596px;
  overflow: hidden;
}
.wireframeIcon {
  position: relative;
  width: 297px;
  flex-shrink: 0;
  object-fit: cover;
}
.wireframes {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.solution1Group,
.solution2Group {
  width: 1512px;
  flex-direction: row;
  box-sizing: border-box;
}
.solution1Group {
  height: 604px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  padding: 60px 218px;
  align-items: center;
  justify-content: center;
  gap: 168px;
}
.solution2Group {
  padding: 0 220px;
  gap: 140px;
}
.solution,
.solution2Group,
.solution3Group {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.solution3Group {
  width: 1512px;
  height: 604px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 60px 220px;
  box-sizing: border-box;
  gap: 140px;
}
.solution {
  background-color: #fff2f2;
  flex-direction: column;
  gap: 50px;
  font-size: 40px;
}
.wireframeIcon6 {
  position: relative;
  width: 221.25px;
  height: 447.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.wireframe,
.wireframeGroup {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.wireframeGroup {
  width: 1503px;
  height: 577px;
  flex-shrink: 0;
  flex-direction: row;
  padding: 10px;
  box-sizing: border-box;
  align-items: flex-start;
  gap: 10px;
}
.wireframe {
  background-color: #f5f5f5;
  flex-direction: column;
  align-items: center;
}
.header4 {
  height: 241px;
  gap: 30px;
}
.header4,
.pilot1,
.sectionDetails {
  width: 386px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.sectionDetails {
  width: 1506px;
  height: 193px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  gap: 100px;
  font-size: 40px;
}
.joinUs {
  margin: 0;
  font-size: 40px;
  line-height: 40px;
  font-family: "Bebas Neue";
}
.blankLine {
  margin: 0;
  line-height: 25px;
  font-weight: 300;
}
.paragramTxt {
  line-break: anywhere;
  width: 100%;
}
.paragram3 {
  position: relative;
  display: flex;
  align-items: center;
  width: 385px;
  height: 141px;
  flex-shrink: 0;
}
.sectionDetails1 {
  width: 1506px;
  height: 193px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  font-size: 20px;
  color: #000;
  font-family: Manrope;
}
.joinWaitlist {
  position: relative;
  line-height: 30px;
}
.beta,
.joinWaitlistButton1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.joinWaitlistButton1 {
  border-radius: 20px;
  background-color: #d7323c;
  width: 193px;
  height: 52px;
  flex-direction: row;
  padding: 10px 20px;
  box-sizing: border-box;
  text-align: left;
  font-size: 24px;
  color: #fffcfc;
}
.beta {
  background-color: #fff2f2;
  overflow: hidden;
  flex-direction: column;
  padding: 0 0 50px;
  gap: 10px;
  font-size: 72px;
}
.logoIcon1 {
  position: relative;
  width: 140px;
  height: 94px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.contactUs {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-family: "Bebas Neue";
}
.contact {
  position: relative;
  display: inline-block;
  width: 313px;
  height: 100px;
  flex-shrink: 0;
}
.footer,
.page {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer {
  background-color: #fff;
  width: 1515px;
  flex-direction: row;
  padding: 37px 421px;
  box-sizing: border-box;
  gap: 10px;
  font-size: 20px;
  color: #000;
  font-family: Manrope;
}
.page {
  position: relative;
  width: 100%;
  flex-direction: column;
  text-align: center;
  font-size: 64px;
  color: #171717;
  font-family: "Bebas Neue";
}
