.logoIcon {
  position: relative;
  width: 170px;
  height: 132.44px;
  object-fit: cover;
}
.header {
  align-self: stretch;
  flex: 1;
  position: relative;
  line-height: 75px;
}
.playRankGames {
  font-weight: 300;
}
.para,
.text1 {
  align-self: stretch;
  flex: 1;
}
.para {
  position: relative;
  font-size: 24px;
  line-height: 30px;
  font-family: Manrope;
}
.text1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
}
.text2 {
  position: relative;
  line-height: 20px;
}
.button {
  border-radius: 20px;
  background-color: #d7323c;
  display: flex;
  flex-direction: row;
  padding: 10px 20px;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  position: relative;
  line-height: 20px;
  font-family: "Bebas Neue";
  color: #d9d9d9;
  border: none;
}

.button:hover {
      background-color:#b3232c;
}

.headline,
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.text {
  align-self: stretch;
  gap: 30px;
}
.headline {
  height: 926px;
  padding: 150px 0 300px;
  box-sizing: border-box;
  gap: 100px;
  z-index: 2;
}
.backgroundIcon {
  flex: 1;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 926px;
  object-fit: cover;
  margin-left: -390px;
}
.headerSection,
.section {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section {
  flex: 1;
  padding: 0 0 0 200px;
  align-items: center;
  text-align: left;
  font-size: 72px;
  color: #fff;
  font-family: "Bebas Neue";
}
.headerSection {
  align-self: stretch;
  background-color: #171717;
  align-items: flex-start;
}
.sectionHeaderText {
  flex: 1;
  position: relative;
  line-height: 75px;
}
.header1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  align-items: flex-start;
  justify-content: center;
}
.headline1 {
  line-height: 40px;
  display: inline-block;
  height: 90.5px;
}
.headline1,
.mdiswordCrossIcon,
.paragram {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.mdiswordCrossIcon {
  max-width: 100%;
  overflow: hidden;
  height: 93px;
}
.paragram {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90.5px;
}
.problem1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 50px;
}
.mdicalendarIcon,
.paragraph,
.paragraph1 {
  align-self: stretch;
  position: relative;
  flex-shrink: 0;
}
.mdicalendarIcon {
  max-width: 100%;
  overflow: hidden;
  height: 93px;
}
.paragraph,
.paragraph1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  display: inline-block;
  height: 90.5px;
}
.details {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 50px;
  text-align: center;
  font-size: 40px;
  color: #171717;
  font-family: "Bebas Neue";
}
.problemSection,
.section1 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
}
.section1 {
  padding: 100px;
  align-items: center;
  justify-content: flex-start;
  gap: 50px;
}
.problemSection {
  background-color: #f5f5f5;
  overflow: hidden;
  align-items: flex-start;
  justify-content: center;
}
.sectionHeader,
.sectionHeaderText1 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.sectionHeaderText1 {
  flex: 1;
  position: relative;
  line-height: 75px;
  height: 75px;
}
.sectionHeader {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  padding: 50px 0;
}
.headline4,
.paragraph2 {
  align-self: stretch;
  position: relative;
  line-height: 40px;
}
.paragraph2 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
}
.group {
  align-self: stretch;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 20px;
}
.wireframeIcon {
  aspect-ratio: 0.4983;
}
.wireframeIcon,
.wireframeIcon1 {
  position: relative;
  width: 297px;
  height: 596px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.wireframes {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.solution1Group {
  align-self: stretch;
  gap: 140px;
  text-align: center;
  font-size: 40px;
  color: #171717;
  font-family: "Bebas Neue";
}
.solution,
.solution1Group,
.wireframes1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.solution {
  align-self: stretch;
  background-color: #fff2f2;
  flex-direction: column;
  padding: 100px 150px;
  gap: 50px;
}
.solutionSection {
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  font-size: 72px;
  color: #171717;
  font-family: "Bebas Neue";
}
.sectionHeader1,
.sectionHeaderText2,
.solutionSection {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.sectionHeaderText2 {
  flex: 1;
  position: relative;
  line-height: 75px;
  align-items: center;
}
.sectionHeader1 {
  overflow: hidden;
  flex-direction: row;
  padding: 10px;
  align-items: flex-start;
}
.wireframeIcon6 {
  position: relative;
  width: 221.25px;
  height: 447.5px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.wireframeGroup {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  padding: 10px 90px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.wireframes3 {
  flex-direction: column;
  padding: 100px 0;
  gap: 50px;
}
.header2,
.wireframeSection,
.wireframes3 {
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wireframeSection {
  background-color: #f5f5f5;
  flex-direction: column;
  text-align: center;
  font-size: 72px;
  color: #171717;
  font-family: "Bebas Neue";
}
.header2 {
  overflow: hidden;
  flex-direction: row;
  padding: 10px;
}
.headline7,
.paragram1 {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  display: inline-block;
  height: 61.39px;
  flex-shrink: 0;
}
.paragram1 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
}
.pilot1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.paragram2 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  display: inline-block;
  height: 61.39px;
  flex-shrink: 0;
}
.headline9,
.paragraph5,
.pilots {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.pilots {
  overflow: hidden;
  flex-direction: row;
  padding: 0 200px;
  align-items: flex-start;
  gap: 50px;
  text-align: center;
  font-size: 40px;
  color: #171717;
  font-family: "Bebas Neue";
}
.headline9,
.paragraph5 {
  position: relative;
  line-height: 40px;
  align-items: center;
  height: 76.39px;
  flex-shrink: 0;
}
.paragraph5 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
}
.join {
  overflow: hidden;
  padding: 0 10px;
  font-size: 40px;
  color: #000;
}
.betaSection,
.join,
.section2 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section2 {
  padding: 50px 0;
  gap: 50px;
}
.betaSection {
  background-color: #fff2f2;
  overflow: hidden;
}
.logoIcon1 {
  position: relative;
  width: 140px;
  height: 96px;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.contactUs {
  margin: 0;
  font-size: 18px;
  line-height: 20px;
  font-family: "Bebas Neue";
}
.christopherfkkuniminervaedu {
  margin: 0;
  line-height: 25px;
  font-weight: 300;
}
.contact {
  position: relative;
}
.footer,
.footerSection,
.page {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.footer {
  align-self: stretch;
  flex-direction: row;
  padding: 40px 300px;
  justify-content: space-between;
  text-align: center;
  font-size: 20px;
  color: #000;
  font-family: Manrope;
}
.footerSection,
.page {
  flex-direction: column;
  justify-content: center;
}
.footerSection {
  align-self: stretch;
  background-color: #fff;
}
.page {
  position: relative;
  width: 100%;
  text-align: center;
  font-size: 72px;
  color: #171717;
  font-family: "Bebas Neue";
}
@media screen and (max-width: 1200px) {
  .headline {
    z-index: 2;
    margin-left: 100px;
    margin-right: 100px;
  }
  .backgroundIcon,
  .headline,
  .section {
    flex: unset;
    align-self: stretch;
  }
  .backgroundIcon {
    margin-left: 0;
  }
  .section {
    flex-direction: column;
    padding-left: 0;
    padding-right: 0;
    box-sizing: border-box;
  }
  .headerSection {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .group {
    flex: unset;
    align-self: stretch;
  }
  .solution,
  .solution1Group {
    flex-direction: column;
  }
  .solutionSection {
    gap: 0;
    padding-bottom: 0;
    box-sizing: border-box;
  }
  .wireframeGroup {
    flex-direction: column;
  }
  .pilot1 {
    flex: unset;
    align-self: stretch;
  }
  .pilots {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .problem1 {
    flex: unset;
    align-self: stretch;
  }
  .details {
    flex-direction: column;
  }
}
@media screen and (max-width: 420px) {
  .logoIcon {
    width: 85px;
    height: 66px;
  }
  .header {
    font-size: 48px;
    line-height: 110%;
  }
  .para {
    font-size: 18px;
  }
  .text {
    gap: 30px;
  }
  .headline,
  .section {
    box-sizing: border-box;
  }
  .headline {
    padding-bottom: 150px;
  }
  .section {
    gap: 0;
  }
  .headerSection,
  .section {
    padding-left: 0;
  }
  .sectionHeaderText {
    font-size: 48px;
  }
  .headline1 {
    font-size: 28px;
    height: 45px;
  }
  .mdiswordCrossIcon {
    height: 93px;
  }
  .paragram {
    flex: 1;
  }
  .paragraph1 {
    height: 120px;
  }
  .section1 {
    padding: 10%;
    box-sizing: border-box;
  }
  .sectionHeaderText1 {
    font-size: 48px;
    align-self: stretch;
    height: auto;
  }
  .sectionHeader {
    padding-top: 10%;
    padding-bottom: 10%;
    box-sizing: border-box;
  }
  .headline4 {
    font-size: 28px;
  }
  .paragraph2 {
    font-size: 18px;
  }
  .wireframes {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .solution1Group {
    gap: 50px;
    padding-bottom: 20%;
    box-sizing: border-box;
  }
  .wireframes1 {
    flex-direction: column;
  }
  .solution {
    padding: 10%;
    box-sizing: border-box;
  }
  .sectionHeaderText2 {
    font-size: 48px;
    line-height: 75px;
  }
  .header2,
  .sectionHeader1 {
    padding: 0 10%;
    box-sizing: border-box;
  }
  .header2 {
    padding: 0;
  }
  .headline7 {
    font-size: 28px;
  }
  .paragram1,
  .paragram2 {
    font-size: 18px;
  }
  .paragram2 {
    height: 80px;
  }
  .pilots {
    gap: 100px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
  .headline9 {
    font-size: 28px;
  }
  .paragraph5 {
    font-size: 18px;
  }
  .footer,
  .join {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
  .footer {
    flex-direction: column;
    gap: 50px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 37px;
  }
}
