.sectionHeaderText {
  position: relative;
  line-height: 75px;
}
.sectionHeader {
  width: 1514px;
  height: 226px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}
.headline,
.paragram {
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.headline {
  align-self: stretch;
  line-height: 40px;
  height: 42px;
}
.paragram {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  width: 385px;
  height: 141px;
}
.problem1Header {
  gap: 10px;
}
.problem1,
.problem1Header {
  width: 386px;
  height: 193px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.details,
.problemSection {
  overflow: hidden;
  display: flex;
  justify-content: center;
}
.details {
  width: 1506px;
  height: 569px;
  flex-shrink: 0;
  flex-direction: row;
  align-items: flex-start;
  gap: 50px;
  font-size: 40px;
  color: #d7323c;
}
.problemSection {
  position: relative;
  background-color: #d9d9d9;
  width: 100%;
  height: 800px;
  flex-direction: column;
  padding: 220px 201px;
  box-sizing: border-box;
  align-items: center;
  text-align: center;
  font-size: 64px;
  color: #171717;
  font-family: "Bebas Neue";
}
