.sectionHeaderText {
  flex: 1;
  position: relative;
  line-height: 75px;
}
.header {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  padding: 10px;
  align-items: center;
  justify-content: center;
}
.headline,
.paragram {
  align-self: stretch;
  position: relative;
  line-height: 40px;
  display: inline-block;
  height: 81.76px;
  flex-shrink: 0;
}
.paragram {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
}
.pilot1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.paragram1 {
  align-self: stretch;
  position: relative;
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
  color: #000;
  text-align: left;
  display: inline-block;
  height: 81.76px;
  flex-shrink: 0;
}
.headline2,
.paragraph,
.pilots {
  align-self: stretch;
  display: flex;
  justify-content: center;
}
.pilots {
  overflow: hidden;
  flex-direction: row;
  padding: 0 200px;
  align-items: flex-start;
  gap: 50px;
  text-align: center;
  font-size: 40px;
  color: #171717;
  font-family: "Bebas Neue";
}
.headline2,
.paragraph {
  position: relative;
  line-height: 40px;
  align-items: center;
  height: 76.39px;
  flex-shrink: 0;
}
.paragraph {
  font-size: 20px;
  line-height: 25px;
  font-weight: 300;
  font-family: Manrope;
}
.join {
  overflow: hidden;
  padding: 0 10px;
  font-size: 40px;
  color: #000;
}
.betaSection,
.join,
.section {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.section {
  padding: 50px 0;
  gap: 20px;
}
.betaSection {
  background-color: #fff2f2;
  overflow: hidden;
  text-align: center;
  font-size: 72px;
  color: #171717;
  font-family: "Bebas Neue";
}
@media screen and (max-width: 1200px) {
  .pilot1 {
    flex: unset;
    align-self: stretch;
  }
  .pilots {
    flex-direction: column;
  }
}
@media screen and (max-width: 960px) {
  .pilots {
    padding-left: 20%;
    padding-right: 20%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 420px) {
  .sectionHeaderText {
    font-size: 48px;
  }
  .header {
    padding: 0;
    box-sizing: border-box;
  }
  .headline {
    font-size: 28px;
  }
  .paragram,
  .paragram1 {
    font-size: 18px;
  }
  .paragram1 {
    height: 80px;
  }
  .pilots {
    gap: 100px;
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
  .headline2 {
    font-size: 28px;
  }
  .paragraph {
    font-size: 18px;
  }
  .join {
    padding-left: 10%;
    padding-right: 10%;
    box-sizing: border-box;
  }
}
