.solutionSection {
  flex-direction: column;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 72px;
  color: #171717;
  font-family: "Bebas Neue";
  padding: 10%;
}

.sectionHeader {
  flex-direction: row;
  align-items: center;
}

.sectionHeaderText {
  display: flex;
  align-items: center;
  justify-content: center;
}

.solution {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10%
}

.solutionBlob {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 20%;
}

.headline {
  font-size: 40px;
  font-family: "Bebas Neue";
  margin-bottom: 5%;
}

.paragraph {
  font-size: 20px;
  font-weight: 300;
  font-family: Manrope;
  align-items: center;
  justify-content: center;
  text-align: center;
  display: inline-block;
  white-space: pre-line;
}

.wireframes {
  flex: 1;
  max-width: 30%;
  display: flex;
  justify-content: center; /* Center wireframe images horizontally */
  align-items: center; /* Center wireframe images vertically */
}

.wireframe {
  max-width: 100%;
  height: auto; /* Maintain aspect ratio */
}

@media screen and (max-width: 1200px) {
  .solution {
    flex-direction: column;
  }
  .solutionBlob {
    margin-right: 0;
    padding-bottom: 10%
  }
  .wireframes {
    max-width: 50%;
  }
}
@media screen and (max-width: 660px) {
  .wireframes {
    flex-direction: column;
    max-width: 80%;
  }
  .sectionHeaderText {
    font-size: 48px;
    align-self: stretch;
    height: auto;
    align-content: center;
  }
}
